export(Breg)
export(coef_Breg)
export(cv_Breg)
export(icCom)
export(cvCom)
export(path)
importFrom("stats", "coef", "cov2cor", "predict", "var")
importFrom(glmnet,glmnet)
importFrom(spcov,spcov)
importFrom(Matrix,bdiag)
